/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
*.jpg
*.jpeg
*.png
*.svg
*.webp
*.gif
*.avif
/vendor
/public/about
/public/ad
/public/agent
/public/audio
/public/ck
/public/company
/public/default
/public/expert
/public/image
/public/imageSetting
/public/media
/public/news
/public/product
/public/serviceImage
/public/super
/public/super_admin
/public/uploads
/public/user
/public/video
/public/why




